.body {
    display: grid;
    grid-template:
    "mainLeft mainRight" 25em
    "photoUpload mainRight" 12em
    "photoButton mainRight" 2em
    / 50% 50%
}

h4 {
  font-size: larger;
}

h3 {
    grid-area: title;
    text-align: left;
    padding: 15px;
    margin: 0;
    /* align-content: top; */
}

.main-input {
    grid-area: mainLeft;
    padding: 15px;
    /* border: 2px solid red; */
}

.trail-description {
    grid-area: photoUpload;
    align-content: top;    
    padding: 0 25px 0 25px;
    /* border: 2px solid green */
}

.trail-photos {
    grid-area: mainRight;
    padding: 15px;
    border: 0;
    border-left: 1px solid #ccc;
    margin-bottom: 20px;
    /* border: 2px solid salmon; */
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.input {
  width: 100%;
  background-color: #EFEDE0;
  color: #555555;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.input:hover {
  background-color: #cccbbe;
}

textarea {
  width: 100%;
  height: 50%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

.city-quadrant {
  padding-bottom: 1em;
}

input[type=radio] {
  margin-right: 3em;
}

