.body {
    display: grid;
    grid-template:
    "mainLeft mainRight" 15em
    "photo photo" 30em
    / 50% 50%
}

h3 {
    grid-area: title;
    text-align: left;
    padding-left: 10px;
    /* align-content: top; */
}

.main-input {
    grid-area: mainLeft;
    padding: 25px;
}

.trail-description {
    grid-area: mainRight;
    align-content: top;
    

    
    padding: 25px;
}
