.trails-table {
   margin: 2em 0 0 0;
}

table {
    margin: auto;
}

h3 {
    display: flex;
    text-align: center;
    font-size: 2em;
    font-family: ubuntu;
    padding-left:2em ;
    color: #555555;
}

.scroll-box {
    /* display: flex; */
    overflow-x: hidden;
    height: 100%;
    padding: 7em 1em 1em 1em;
    /* max-width: 40em; */
    

}

.card-grid {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

    /* display: grid;

    grid-template-columns: 1fr 1fr 1fr;  */

}
