.main-area {
    background-color: #f6f6f6;
    color: black;
    font-size: small;
    height: 100%;
    width: 100%;
    overflow: auto;
    margin: 0;
    padding: 0;


    background-image: url('../websitephotos/website-background.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
    
    
    
    display: grid;
    grid-template: 
    "main" 100vh
    / auto;
}

.refined-search {
    /* grid-area: "refinedSearch"; */
    background-color: #e0efe5;
    text-align: center;
    font-family: ubuntu;
    margin-right: 1em;
}

.main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    grid-area: "main";
    align-items: center;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    /* overflow: scroll; */
    /* overflow-y: visible; */
}
input[type='checkbox'] {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.checkbox {
    display: inline-block;
    height: 20px;
    width: 20px;
    background: #fff;
    border: 2px #ddd solid;
    margin-top: 20px;
}



.checkbox--active {
    border-color: #555555;
    background: #5C6E58;
}

.token-style {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 300;
}