.trails-table {
    color: black;
    font-size: small;
}

h3 {
    text-align: center;
}

table {
    margin: auto;
}

.photo-thumbnails {

    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    width: 75px; /* Set a small width */
}

h3 {
    display: flex;
    font-size: 2em;
    font-family: ubuntu;
    padding-left:2em ;
    color: #555555;
}
