.trails-table {
    color: black;
    font-size: small;
}

table {
    margin: auto;
}

h3 {
    display: flex;
    text-align: center;
    font-size: 2em;
    font-family: ubuntu;
    padding-left:2em ;
    color: #555555;
}

.scroll-box {
    overflow-x: auto;
    height: 80vh;
    /* width: 300px; */
}
