@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,700;1,400&display=swap');

.navigation-bar {
    display: grid;
    grid-template: 
    "left right" 5em
    / 1fr 1fr;
    background-color: #EFEDE0;
    color: #555555;
    text-align: right;
    font-size: medium;
    font-family: ubuntu;
    margin: 0;
    padding-top: 0.100em;
    border-bottom: 1px solid #55555550;
    box-shadow:0 5px 5px;


    
    
}

.app-name {
    grid-area: left;
    display: inline;
    text-align: left;
    padding-left: 2em;
}

.links {
    display: flex;
    grid-area: right;
    align-items: flex-end;
    justify-content: right;
    /* align-content: inherit; */
    

}

.nav-link {

    margin: 1em;
    display: inline-block;
    text-decoration: none;
    color: black;
}

.text-link {
    text-decoration: none;
    color: #555555;
    font-family: ubuntu;
    font-weight: 800;
   

}

.text-link:hover{
    color: #8AA899;
}

button {
    text-decoration: none;
    color: #555555;
    background-color: #EFEDE0;
    font-family: ubuntu;
    font-weight: 800;
    border-width: 0px;
    font-size: medium;

}

button:hover {
     color: #8AA899;
     cursor: pointer;
}
