@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,700;1,400&display=swap');

.navigation-bar {
    background-color: #EFEDE0;
    color: #555555;
    text-align: right;
    font-size: medium;
    font-family: ubuntu;
    margin: 0;
    padding-top: 0.100em;
    
}

.app-name {
    text-align: center;
    
}

span {
    margin: 1em;
    display: inline-block;
    text-decoration: none;
    color: black;
}

.text-link {
    text-decoration: none;
    color: #555555;
    font-family: ubuntu;
    font-weight: 800;

}

.text-link:hover{
    color: #8AA899;
}

button {
    text-decoration: none;
    color: #555555;
    font-family: ubuntu;
    font-weight: 800;
}

button:hover {
     color: #8AA899;
}
