.card {
    background-color: #8AA899;
    border-radius: 6px;
    border: 2px solid #8AA899;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    margin: 2em;
    padding: 0; 
    
    /* width: 30%; */
  }

  /* .card-row {
    padding: 2em;
    margin-right: 3em;
    color: red;
  } */