.detail-card {
    background-color: #efede0;
    border-radius: 6px;
    /* border: 1px solid #e2e2d8; */
        
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    margin: 1em 1em 1em 1em;
    padding: 0; 
    z-index: 200;
    width: 310px;
    overflow: hidden;
    /* max-height: 400px; */
  }
